@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --width: min(600px, 92vw)
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

@media (max-width: 48rem) {
    body {
        flex-direction: column;
    }
}

.container {
    width: var(--width);
    background-color: black;
    border: 3px solid grey;
    border-radius: 12px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.input {
    font-size: calc(var(--width) * 0.11);
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
    height: calc(var(--width) * 0.133);
    margin: 8px;
    padding: 16px;
    text-align: right;
    background-color: #99999940;
    border-radius: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: calc(var(--width) * 0.09);
    text-align: center;
    margin: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.btn.highlight {
    background-color: #999999;
}

.btn.accent {
    background-color: orange;
}

.btn.blendin {
    background-color: #99999940;
}

.title {
    margin: 16px;
}

.entry {
    background-color: #99999940;
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

#history {
    max-height: 97vh;
    overflow: hidden;
    overflow-y: scroll;
}
#history::-webkit-scrollbar {
    display: none;
}

.history-query {
    font-size: calc(var(--width) * 0.03);
    color: #999999;
}

.history-result {
    font-size: calc(var(--width) * 0.06);
    color: #ffffff;
}

.clearbtn {
    background-color: orange;
    font-size: 1.5rem;
    border-radius: 12px;
    margin: 8px;
    padding: 8px;
}